.homepage{
  text-align: center;
}

.hero-section{
  background-color: $white;
  
  .container{
    padding-top: 1rem;
    padding-bottom: 4rem;

    @media screen and (min-width: 30rem){
      padding-bottom: 6rem;
    }
  }
}

.hero-text{
  margin: 0;
  font-size: 8vw;
  font-weight: 900;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $primary-color;

  @media screen and (min-width: 54rem){
    font-size: 5rem;
  }
}

.homepage{
  h2{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    text-transform: uppercase;
  }


  .portfolio-section{

    .container{
      @media screen and (min-width: 30rem){
        padding-top: 4rem;
        padding-bottom: 6rem;
      }
    }
  }

  .contact-section{
    background-color: $white;

    .container{

      @media screen and (min-width: 30rem){
        padding-top: 4rem;
        padding-bottom: 6rem;
      }
    }

    p{
      max-width: 32rem;
      margin: 0 auto 2rem auto;
      font-size: 1.125rem;
    }
  }
}
